<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/Style/Style.css">
    <link rel="stylesheet" href="">
    <title>Examen Sass</title>
</head>
<body>
     <header class="header">
        <div class="containerSign">
            <p class="porogSign">
                Sign up and get 20% off to your first order. 
                <span class="spanSign">
                    <a href="#" class="linkSign">Sign Up Now</a>
                </span>
            </p>
            <button class="btnSign">
                <img src="/Components/Images/Icons/X.svg" alt="" class="logo_x">
            </button>
        </div>
        <div class="containerHeader">
           <section class="NavBarShop">
             <nav class="navBar">
                <div class="navBurger">
                    <img src="/Components/Images/Icons/Burger.svg" alt="" class="logBurger">
                </div>
                <div class="iconShopNav">
                   <b class="boldIconsNav">
                      <a href="#" class="linkShopIcon">SHOP.CO</a>
                   </b>
                </div>
             <div class="menuNav">
                <select class="shop" name="Shop" id="Shop">
                    <option value="shop">
                        Shop
                    </option>
                </select>
                <div class="navMenu">
                  <ul class="linksShopNav">
                      <li class="linkShopOne">
                        <a href="#" class="linkShopFour">On Sale</a>
                      </li>
                      <li class="linkShopTwo">
                        <a href="#" class="linkShopFour">New Arrivals</a>
                      </li>
                      <li class="linkShopTwo">
                        <a href="#" class="linkShopFour">Brands</a>
                      </li>
                  </ul>
                </div>
             </div>
                <div class="searchNav">
                    <span class="spanNavShop">
                        <img src="/Components/Images/Icons/Frame.svg" alt="" class="logoSearch">
                        <img src="/Components/Images/Icons/responsiv searth.svg" alt="" class="logoSearchResponsiv">
                        <input type="search" placeholder="Search for products..." class="inputNavShop">
                    </span>
                </div>
                <div class="iconsNav">
                    <a href="#" class="linkLogo_korzinka">
                        <img src="/Components/Images/Icons/Korzinka.svg" alt="" class="logoKorzinka">
                    </a>
                    <a href="#" class="linkLogo_Men">
                        <img src="/Components/Images/Icons/Men.svg" alt="" class="logoMenNav">
                    </a>
                </div>
             </nav>
           </section>
        </div>
     </header>
     <main class="main">
        <div class="containerMain">
          <section class="clothes">
            <div class="innerContainerClothes">
                <form class="innerClothes" action="#">
                    <img src="/Components/Images/Icons/Vector (1).svg" alt="" class="logoStarOne">
                    <img src="/Components/Images/Icons/Vector.svg" alt="" class="logoStarTwo">
                </form>
                <div class="contentClothes">
                    <h1 class="sarlovClothes">FIND CLOTHES <br>
                         THAT MATCHES <br>
                         YOUR STYLE
                    </h1>
                    <p class="porogClothes">Browse through our diverse range of meticulously crafted garments, designed <br>
                         to bring out your individuality and cater to your sense of style.
                    </p>
                    <button class="btnClothes">Shop Now</button>
                    <div class="manyClothers">
                        <div class="clothesOne">
                           <b class="boldClothesBox">200+</b>
                           <p class="porogClothesBox">International Brands</p>
                        </div>
                        <hr>
                        <div class="clothesTwo">
                            <b class="boldClothesBoxTwo">2,000+</b>
                            <p class="porogClothesBoxTwo">High-Quality Products</p>
                        </div>
                        <hr class="lineTwoClothes">
                        <div class="clothesThree">
                            <b class="boldClothesBox">30,000+</b>
                            <p class="porogClothesBox">Happy Customers</p>
                        </div>
                    </div>
                </div>
                <div class="containerImageResponsiv">
                    <form class="innerImageResponsiv" action="#">
                       <img src="/Components/Images/Icons/Vector (1).svg" alt="" class="logostarsInner">
                       <img src="/Components/Images/Icons/Vector.svg" alt="" class="logoStarsTwoInner">
                    </form>
                    <div class="imageResponsivHuman">
                        <img src="/Components/Images/Rectangle 2 responsiv.jpg" alt="" class="imageHumanResponsiv">
                    </div>
                </div>
            </div>
          </section>
          <section class="brends">
            <div class="imgaesBrends">
                <img src="/Components/Images/Icons/Group.svg" alt="" class="versace">
                <img src="/Components/Images/Icons/zara-logo-1 1.svg" alt="" class="zara">
                <img src="/Components/Images/Icons/gucci-logo-1 1.svg" alt="" class="gucci">
                <img src="/Components/Images/Icons/prada-logo-1 1.svg" alt="" class="prada">
                <img src="/Components/Images/Icons/Group (1).svg" alt="" class="kalvin">
            </div>
        </section>
        <section class="arrivals">
            <div class="innerArrivals">
                <div class="ContentArrivals">
                    <b class="boldArrivals">NEW ARRIVALS</b>
                </div>
                <div class="boxesArrivals">
                  <div class="boxOne">
                    <img src="/Components/Images/image 7.jpg" alt="" class="imageArrivalsBoxOne">
                     <p class="porogBoxArrivalsOne">T-SHIRT WITH TAPE DETAILS</p> 
                     <div class="innerBoxArrivalsOne_stars">
                         <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="logoStarsOne">
                         <p class="porogInnerBox">4.5/
                            <span class="spanInnerBoxArrivals">5</span>
                         </p>
                     </div>
                     <b class="boldBoxArrivalsOne">$120</b>
                  </div>
                  <div class="boxTwo">
                    <img src="/Components/Images/image 8.jpg" alt="" class="imageArrivalsBoxTwo">
                    <p class="porogBoxArrivalsTwo">SKINNY FIT JEANS</p>
                    <div class="innerBoxArrivalsTwo_stars">
                        <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="logoStarsTwo">
                        <p class="porogInnerBox">3.5/
                          <span class="spanArrivalsInnerBox">5</span>
                        </p>
                    </div>
                    <div class="innerBoxArrivalsResultOne">
                        <b class="boldResultInnerOne">$240</b>
                        <p class="porogResultInnerTwo">$260</p>
                        <p class="porogResultInnerThree">-20%</p>
                    </div>
                  </div>
                  <div class="boxThree">
                    <img src="/Components/Images/image 9.jpg" alt="" class="imageArrivalsBoxThree">
                    <p class="porogBoxArrivalsThree">CHECKERED SHIRT</p>
                    <div class="innerBoxArrivalsThree_stars">
                        <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="logoStarsThree">
                        <p class="porogInnerBox">4.5/
                            <span class="spanBoxArrivalsThree">5</span>
                        </p>
                    </div>
                    <b class="boldBoxThreeArrivals">$180</b>
                  </div>
                  <div class="boxFour">
                    <img src="/Components/Images/image 10.jpg" alt="" class="imageArrivalsBoxFour">
                    <p class="porogBoxArrivalsFour">SLEEVE STRIPED T-SHIRT</p>
                    <div class="innerBoxArrivalsFour_stars">
                        <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="logoStarsFour">
                        <p class="porogInnerBox">4.5/
                            <span class="spanArrivalsBoxFour">5</span>
                        </p>
                    </div>
                    <div class="innerBoxResultFour">
                        <p class="porogResultInnerOne">$130</p>
                        <p class="porogResultInnerTwo">$160</p>
                        <p class="porogResultInnerThree">-30%</p>
                    </div>
                  </div>
                </div>
                <div class="btnArrivalsContainer">
                    <div class="innerContainerBTN">
                        <button class="btnArrivals">View All</button>
                    </div>
                </div>
            </div>
        </section>
          <div class="containerLine">
             <hr class="lineArrivals">
          </div>
        <section class="sell">
            <div class="innerContainerCell">
                <div class="contentSell">
                   <b class="boldSellContent">TOP SELLING</b>
                </div>
                <div class="boxesSell">
                    <div class="boxSellOne">
                       <img src="/Components/Images/Icons/image 7-1.svg" alt="" class="imageSellBoxOne">
                       <p class="porogBoxOneSell">VERTICAL STRIPED SHIRT</p>
                       <div class="innerBoxOneSell">
                        <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="iconStars">
                        <p class="poroInnerBoxOne_sell">5.0/
                            <span class="spanInnerPorogBoxSell">5</span>
                        </p>
                       </div>
                       <div class="innerBoxSellResults">
                        <b class="boldInnerResultOne">$212</b>
                        <p class="porogInnerResultTwo">$232</p>
                        <p class="porogInnerResultThree">-20%</p>
                       </div>
                    </div>
                    <div class="boxSellTwo">
                       <img src="/Components/Images/Icons/image 8-2.svg" alt="" class="imageBoxTwoSell">
                       <p class="porogBoxTwoSell">COURAGE GRAPHIC T-SHIRT</p>
                       <div class="innerBoxTwoSell">
                        <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="iconStars">
                        <p class="porogInnerBoxTwoSell">4.0/
                            <span class="spanBoxTwoInnerSell">5</span>
                        </p>
                       </div>
                       <b class="boldBoxTwoSell">$145</b>
                    </div>
                    <div class="boxSellThree">
                        <img src="/Components/Images/Icons/image 9-3.svg" alt="" class="imageBoxThreeSell">
                        <p class="porogBoxThreeSell">LOOSE FIT BERMUDA SHORTS</p>
                        <div class="innerBoxThreeSell">
                         <img src="/Components/Images/Icons/Frame 101.svg" alt="" class="iconStars">
                         <p class="porogInnerBoxThreeSell">3.0/
                            <span class="spanBoxThreeInnerSell">5</span>
                        </p>
                        </div>
                        <b class="boldBoxThreeSell">$80</b>
                    </div>
                    <div class="boxSellFour">
                        <img src="/Components/Images/Icons/image 10-4.svg" alt="" class="imageBoxTwoSell">
                        <p class="porogBoxTwoSell">FADED SKINNY JEANS</p>
                        <div class="innerBoxTwoSell">
                         <img src="/Components/Images/Icons/Frame 10.svg" alt="" class="iconStars">
                         <p class="porogInnerBoxTwoSell">4.5/
                            <span class="spanBoxTwoInnerSell">5</span>
                        </p>
                        </div>
                        <b class="boldBoxTwoSell">$210</b>
                    </div>
                </div>
                <div class="btnSell">
                    <button class="btnSelling">View All</button>
                </div>
            </div>
        </section>
        <section class="dress">
            <div class="innerContainerDress">
                <div class="contentDress">
                    <b class="boldContentDress">BROWSE BY dress STYLE</b>
                </div>
                <div class="boxesUp">
                   <div class="boxOneDress">
                      <p class="porogBoxOneDress">Casual</p>
                   </div>
                   <div class="boxTwoDress">
                    <p class="porogBoxTwoDress">Formal</p>
                    <img src="/Components/Images/image 13.png" alt="" class="imageFormalDress">
                   </div>
                </div>
                <div class="boxesDown">
                  <div class="boxThreeDress">
                    <p class="porogBoxThreeDress">Party</p>
                    <img src="/Components/Images/image 12.png" alt="" class="imagePartyDress">
                  </div>
                  <div class="boxFourDress">
                    <b class="boldBoxFourDress">Gym</b>
                  </div>
                </div>
            </div>
        </section>
        <section class="customers">
            <div class="innerContainerCustomers">
                <div class="contentCustomers">
                    <b class="boldContentCustomers">OUR HAPPY CUSTOMERS</b>
                    <div class="buttonsCustomer">
                        <button class="btnLeftCustomer">
                            <img src="/Components/Images/Icons/arrow-down-bold 2.svg" alt="" class="logoLeft">
                        </button>
                        <button class="btnRightCustomer">
                            <img src="/Components/Images/Icons/arrow-down-bold 1.svg" alt="" class="logoRight">
                        </button>
                    </div>
                </div>
                <div class="boxesCustomer">
                    <div class="boxOneCustomer">
                        <div class="innerBoxCustomerOne">
                            <img src="/Components/Images/Icons/5 stars.svg" alt="" class="iconsFiveStars">
                            <div class="innerBoxCustomersContentOne">
                             <p class="porogInnerBoxCustomers">Sarah M.</p>
                             <img src="/Components/Images/Icons/Prichka.svg" alt="" class="logoCheck">
                            </div>
                            <p class="porogBoxCustomersOne">
                               "I'm blown away by the quality and style of the <br>
                                clothes I received from Shop.co. From casual <br>
                                 wear to elegant dresses, every piece I've bought <br>
                                  has exceeded my expectations.”
                            </p>
                        </div>
                    </div>
                    <div class="boxTwoCustomer">
                        <div class="innerBoxCustomersTwo">
                            <img src="/Components/Images/Icons/5 stars.svg" alt="" class="iconsFiveStars">
                            <div class="innerBoxCustomersContentTwo">
                                <p class="porogInnerBoxCustomers">Alex K.</p>
                                <img src="/Components/Images/Icons/Prichka.svg" alt="" class="logoCheck">
                               </div>
                               <p class="porogBoxCustomersTwo">
                                  "Finding clothes that align with my personal <br>
                                   style used to be a challenge until I discovered <br>
                                    Shop.co. The range of options they offer is truly <br>
                                     remarkable, catering to a variety of tastes and <br>
                                      occasions.”
                               </p>
                        </div>
                    </div>
                    <div class="boxThreeCustomer">
                        <div class="innerBoxCustomersThree">
                            <img src="/Components/Images/Icons/5 stars.svg" alt="" class="iconsFiveStars">
                            <div class="innerBoxCustomersContentThree">
                                <p class="porogInnerBoxCustomers">James L.</p>
                                <img src="/Components/Images/Icons/Prichka.svg" alt="" class="logoCheck">
                               </div>
                               <p class="porogBoxCustomersThree">
                                  "As someone who's always on the lookout for <br>
                                   unique fashion pieces, I'm thrilled to have <br>
                                    stumbled upon Shop.co. The selection of <br>
                                    clothes is not only diverse but also on-point <br>
                                     with the latest trends.”
                               </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
     </main>
     <footer class="footer">
        <div class="containerFooter">
           <section class="date">
             <div class="innerContainerDate">
                <form action="#" class="dateInnerBox">
                        <div class="contentInnerBoxDate">
                            <b class="boldInnerBoxDate">
                                STAY UPTO DATE ABOUT <br>
                                 OUR LATEST OFFERS
                            </b>
                        </div>
                        <div class="inputInnerBoxDate">
                            <img src="/Components/Images/Icons/Email.svg" alt="" class="logoEmailInput">
                            <input type="email" placeholder="Enter your email address" class="inputEmail"> <br>
                            <input type="submit" class="submit">
                        </div>
                </form>
                <div class="contentsFooter">
                    <div class="contentsFooterUp">
                        <div class="contentLogoShopDate">
                            <b class="boldIconsFooter">
                                <a href="#" class="linkShopIconFooter">SHOP.CO</a>
                            </b>
                            <p class="porogContentBoxUp">
                                We have clothes that suits your style and <br>
                                 which you’re proud to wear. From <br>
                                  women to men.
                            </p>
                            <div class="logosPlatforms">
                                <a href="#" class="linkPlatforms">
                                    <img src="/Components/Images/Icons/1.svg" alt="" class="logoTwitter">
                                    <img src="/Components/Images/Icons/2.svg" alt="" class="logoFacebook">
                                    <img src="/Components/Images/Icons/3.svg" alt="" class="logoInstagram">
                                    <img src="/Components/Images/Icons/4.svg" alt="" class="logoCat">
                                </a>
                            </div>
                        </div>
                        <div class="contentInfo">
                           <ul class="linksCompany">
                            <li class="linkCompanyOne">
                                <a href="#" class="linkCompanyThree">COMPANY</a>
                            </li>
                            <li class="linkCompanyTwo">
                                <a href="#" class="linkCompanyFour">
                                    About  <br>        
                                    <br>
                                    Features <br>       
                                    <br>
                                    Works <br>   
                                    <br>
                                    Career <br>
                                </a>
                            </li>
                           </ul>
                           <ul class="linksHelp">
                            <li class="linkHelpOne">
                                <a href="№" class="linkHelpThree">HELP</a>
                            </li>
                            <li class="linkHelpTwo">
                                <a href="№" class="linkHelpFour">
                                    Customer Support <br>
                                    <br>
                                    Delivery Details <br>
                                    <br>
                                    Terms & Conditions <br>
                                    <br>
                                    Privacy Policy <br>
                                </a>
                            </li>
                           </ul>
                           <ul class="linksFAQ">
                            <li class="linkFAQOne">
                                <a href="#" class="linkFAQThree">FAQ</a>
                            </li>
                            <li class="linkFAQTwo">
                                <a href="#" class="linkFAQFour">
                                    Account <br>
                                    <br>
                                    Manage Deliveries <br>
                                    <br>
                                    Orders <br>
                                    <br>
                                    Payments <br>
                                </a>
                            </li>
                           </ul>
                           <ul class="linksResources">
                            <li class="linkResourcesOne">
                                <a href="№" class="linkResourcesThree">Resources</a>
                            </li>
                            <li class="linkResourcesTwo">
                                <a href="№" class="linkResourcesFour">
                                    Free eBooks <br>
                                    <br>
                                    Development Tutorial <br>
                                    <br>
                                    How to - Blog <br>
                                    <br>
                                    Youtube Playlist <br>
                                </a>
                            </li>
                           </ul>
                        </div>
                    </div>
                    <hr class="lineFooter">
                    <div class="contentFooterDown">
                        <div class="contentDateShop">
                            <p class="porogDateShop">Shop.co © 2000-2023, All Rights Reserved</p>
                            <div class="imageCards">
                                <a href="#" class="linkCards">
                                    <img src="/Components/Images/Icons/Badge.svg" alt="" class="logoVisa">
                                    <img src="/Components/Images/Icons/Badge (1).svg" alt="" class="logoBadge">
                                    <img src="/Components/Images/Icons/Badge (2).svg" alt="" class="logoPayPal">
                                    <img src="/Components/Images/Icons/Badge (3).svg" alt="" class="logoApplePay">
                                    <img src="/Components/Images/Icons/Badge (4).svg" alt="" class="logoGooglePay">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
           </section>
        </div>
     </footer>
</body>
</html>